/* 
1. Posición
2. Modelo de caja (Box model)
3. Tipografía
4. Visuales
5. Otros
*/

:root{
    /*Colores*/
    --naranja: #F24E1E;
    --soft-naranja: #FF7262;
    --morado: #A259FF;
    --azul: #1ABCFE;
    --verde: #0ACF83;
    --gris100: #333333;
    --gris50: #6A6A6A;
    --gris25: #9E9E9E;
    --blanco: #FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

body{
    background-color: var(--gris100);
}



.main-container{
    margin: 24px 16px;
}

.main-container h2{
    font-size: 2.4rem;
    text-align: center;
    color: var(--blanco);
}

.main-container p{
    margin-top: 10px;
    font-size: 1.4rem;
    text-align: center;
    color: var(--gris25);
}